* {
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 1400px;
    width: 100%;
    padding-inline: 24px;
    margin-inline: auto;
}

#main-heading {
    text-align: center;
    margin-top: 25px;
    color: rgb(4, 4, 88);
}


#change-grid-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    color: darkblue;
    padding-inline: 16px;
    padding-block: 12px;
    border: 1px solid blue;
    background-color: blue;
    color: white;
    font-weight: 600;
    border-radius: 12px;
    transition: all 0.3s ease-in;
    cursor: pointer;

    &:hover {
        background-color: transparent;
        color: blue;
    }
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    /* border: 1px green solid; */
    margin-top: 25px;
    height: 500px;
    width: 500px;
}